@model IEnumerable<MyStudentMVC.Models.Registration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert-success">@TempData["Alert"]</div>
<h1 style="text-align:center; font-weight:800">Registered Users</h1>
@*<a href="@Url.ActionLink("login","Login")" style="text-decoration:None; font-weight:bold"> SignOut </a>*@
<button class="btn btn-warning"><a href="@Url.ActionLink("login","Login")">LogOut</a></button>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }


    </tbody>
</table>

<style>
    .login {
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 2px 5px;
        text-align: left;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
    }

    button {
        display: right;
    }
</style>